/*
 * CSS for jsPsych experiments.
 *
 * This stylesheet provides minimal styling to make jsPsych
 * experiments look polished without any additional styles.
 *
 */

/*
 *
 * fonts and type
 *
 */

@import url(https://fonts.googleapis.com/css?family=Lato:400italic,700italic,400,700);

html {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 22px;
    line-height: 1.6em;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eaecee;
}

p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    clear:both;
}

.very-small {
    font-size: 50%;
}

.small {
    font-size: 75%;
}

.large {
    font-size: 125%;
}

.very-large {
    font-size: 150%;
}

/*
 *
 * Classes for changing location of things
 *
 */

.left {
    float: left;
}

.right {
    float: right;
}

.center-content {
    text-align: center;
}

#prompt {
    text-align: center;
    font-weight: bold;
    margin: 4vh;
    font-size: 1em;
}

#message {
    text-align: center;
    font-weight: bold;
    margin: 4vh;
    font-size: 1em;
}

.msg-alert{
    color:#8e0305ad;
}

.msg-continue{
    color:#02693ba3;
}


#button_container {
    margin: auto;
    padding: 10px;
    text-align: center;
}

#score {
  width:20vw;
  padding:10px;  
}

/*
 *
 * Form elements like input fields and buttons
 *
 */

input[type="text"] {
    font-family: 'Lato', 'Arial', sans-sefif;
    font-size: 14px;
}

button {
    padding: 0.9em;
    background-color: #47525d;
    border: 1px solid #47525d;
    color: #f5f4f4;
    font-weight: normal;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 0.9em;
    cursor: pointer;
}

button:disabled{
    background-color: #eaecee;
    border: 1px solid #ccc;
    color: #929eaa;
}

button:hover {
    border:1px solid #ccc;
    Cursor:pointer;
}

/*
 *
 * Container holding jsPsych content
 *
 */


.jspsych-display-element {
    width: 100%;
    height: 600px;
    margin: 0 0 0 0;
}

/*
 *
 * jsPsych progress bar
 *
 */

#jspsych-progressbar-container {
    color: #777;
    border-bottom: 2px solid #dedede;
    background-color: #f3f3f3;
    margin-bottom: 0em;
    text-align: center;
    padding: 0px 0px;
}

#jspsych-progressbar-container s {

}

#jspsych-progressbar-outer {
    background-color: #dedede;
    border-radius: 5px;
    padding: 1px;
    width: 800px;
    margin: auto;
}

#jspsych-progressbar-inner {
    background-color: #aaa; /* #3EB3D7; */
    width: 0%;
    height: 1em;
    border-radius: 5px;
}

/*
 *
 * PLUGIN: jspsych-animation
 *
 */

#jspsych-animation-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-categorize-animation
 *
 */

#jspsych-categorize-animation-stimulus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-categorize
 *
 */

#jspsych-categorize-stimulus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.feedback {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-free-sort
 *
 */

#jspsych-free-sort-arena {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #444;
}

.jspsych-free-sort-draggable {
    cursor: move;
}

#jspsych-free-sort-done-btn {
    display: block;
    margin: auto;
    margin-top: 25px;
}

/*
 *
 * PLUGIN: jspsych-instructions
 *
 */

.jspsych-instructions-nav {
    text-align: center;
    margin-top: 4vh;
}

.jspsych-instructions-nav button {
    margin: 20px;
}
#jspsych-content{
    margin-top: 4vh;
    font-size: 1em;
}
/*
 *
 * PLUGIN: jspsych-multi-stim-multi-response
 *
 */

#jspsych-multi-stim-multi-response-stimulus {
    display: block;
    margin: auto;
}

/*
 *
 * PLUGIN: jspsych-palmer
 *
 */

#jspsych-palmer-snapCanvas {
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-same-different
 *
 */

.jspsych-same-different-stimulus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-single-stim
 *
 */

#jspsych-single-stim-stimulus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-survey-text
 *
 */

.jspsych-survey-text {
    margin: 0.25em 0em;
}

.jspsych-survey-text-question {
    margin: 2em 0em;
}

/*
 *
 * PLUGIN: jspsych-survey-likert
 *
 */

.jspsych-survey-likert-sliderlabels {
    font-size: 75%;
    line-height: 1.15em;
}

.jspsych-survey-likert-question {
    margin-top: 2em;
    margin-bottom: 2em;
}

.jspsych-survey-likert-text {
    text-align: center;
}

#jspsych-survey-likert-next {
    display: block;
    margin: auto;
}

#upper_bound{
    margin-left:2vw;
}

#lower_bound{
    margin-right:2vw;
    margin-left:4vw;
}

/*
*
* PLUGIN: jspsych-visual-search-circle
*
*/

#jspsych-visual-search-circle-svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-vsl-animate-occlusion
 *
 */

#jspsych-vsl-animate-occlusion-canvas {
    display: block;
    margin: auto;
}

/*
 *
 * PLUGIN: jspsych-xab
 *
 */

.jspsych-xab-stimulus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#image_html{
    display: block;
    margin-left: auto;
    margin-top: 3vh;
    margin-right: auto;
    margin-bottom: 3vh;
    width:400px;
}

.notice_img{
    display:block;
    Margin-left:auto;
    margin-right:auto;
    margin-top:3vh;
    width:200px;
}

.rating_img{
    display:block;
    Margin-left:auto;
    margin-right:auto;
    margin-top:3vh;
    Width:80vw;
}

.eg_div{
    text-align: center;
}

.eg_img{
    width:200px;
    margin:2vw;
}

ul {
    list-style-position:inside;
    Text-align:center;
}

#jspsych-instructions-back{
     width:12vw;
}
#jspsych-instructions-next{
     width:12vw;
}
